<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVVC With Vue.JS *^^*</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id = 'app'>
        <header>
            <h2 class="container">검색</h2>
        </header>
        
        <div class="container">
            <search-form></search-form>
            
            <div v-if="submitted">
                <div v-if="searchResult.length">
                    <ul>
                        <li v-for='item in searchResult'>
                            <!-- v-bind 의 역할은 attribute 의 값을 bind(지정)해주는 역할 -->
                            <img v-bind:src='item.image'> {{item.name}}
                        </li>
                    </ul>
                </div>
                <div velse>
                    {{query}} 검색어로 찾을 수 없습니다
                </div>
            </div>
            <div v-else>
                <ul class = 'tabs'>
                    <li v-on:click='onClickTab(tab)' v-for = 'tab in tabs' v-bind:class='{active: tab === selectedTab}'>
                        {{tab}}
                    </li>
                </ul>
                <div v-if='selectedTab === tabs[0]'>
                    <div v-if='keywords.length'>
                        <ul class ='list'>
                            <!-- v-for 를 이용해서 루프를 돌 땐, 배열에서 바로 객체를 가져올 수 있음 -->
                            <!-- 만약 index 까지 가져오고싶다면 (item,index) 를 넣어주면 됨 -->
                            <li v-on:click = 'onClickKeyword(item.keyword)' v-for = '(item,index) in keywords'> 
                                <span class = 'number'>{{index +1 }}</span>
                                {{item.keyword}}
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        추천 검색어가 없습니다!
                    </div>
                </div>
                <div v-else>
                    <div v-if="history.length">
                        <ul class = 'list'>
                            <li v-on:click = 'onClickKeyword(item.keyword)' v-for = 'item in history'>
                                {{item.keyword}}
                                <span class = 'date'>{{item.date}}</span>
                                <button v-on:click.stop='onClickRemoveHistory(item.keyword)' class = 'btn-remove'></button>
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        최근검색어가 없습니다!
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="module" src="./js/app.js"></script>
</body>
</html>


<!-- 여기서 id 를 #search-form으로 설정해주면 FormComponent 의 template 와 바인딩됨 -->
<template id ="search-form">
    <!-- v-on 은 DOM 에서 발생하는 이벤트를listen 하는 역할 -->
    <!-- .prevent 를 뒤에 붙여 줄 경우 JS 에서 preventDefault 와 같은 역할을 수행한다 -->
    <!-- 여기서 preventDefault 는 화면 갱신을 막아주는 역할이었음 -->
    <form v-on:submit.prevent='onSubmit'>

        <!-- Vue.js 에서 v-model 은 입력데이터와 실제 데이터간의 (양방향)바인딩 역할 -->
        <input v-on:keyup='onKeyup'type="text" v-model='query' placeholder="검색어를 입력하세요!" autofocus> 
        <button v-on:click='onReset' v-show  = 'query.length' type="reset" class="btn-reset"></button>

    </form>
</template>